body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background:#ddd;
  font-family:Arial;
}

.iphone{
  width:300px;
  height:550px;
  background:black;
  color:white;
  border-radius:30px;
  text-align:center;
  padding:20px;
}

.app-name{
  color:#aaa;
  font-size:14px;
}

.album{
  height:220px;
  background:linear-gradient(#ff5f6d,#ffc371);
  border-radius:20px;
  margin:20px 0;
}

.progress{
  height:4px;
  background:#444;
  margin:20px 0;
}

.progress span{
  display:block;
  width:40%;
  height:100%;
  background:white;
}

.controls button{
  margin:10px;
  padding:10px;
  border-radius:50%;
  border:none;
  cursor:pointer;
}

.play{
  padding:15px;
}
