* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
header {
    background: #111;
    padding: 15px 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #d5f80e;
}

/* Hero */
.hero {
    height: 90vh;
    background: linear-gradient(to right, #00adb5, #a6aca3);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* Contact Information Section */
#contact-info {
    padding: 50px 20px;
    text-align: center;
}

#contact-info h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#contact-info p {
    font-size: 1.2rem;
    margin: 10px 0;
}

.contact-details p {
    font-size: 1.2rem;
    color: #333;
}

.contact-details a {
    text-decoration: none;
    color: #e70000;
    font-weight: bold;
    transition: color 0.3s ease;
}

.contact-details a:hover {
    color: #f30505;
}

.hero h2 span {
    color: #ffdd59;
}

.btn {
    margin-top: 20px;
    padding: 10px 25px;
    background: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}

.btn:hover {
    background: #f50000;
}

/* Sections */
.section {
    padding: 60px 40px;
    text-align: center;
}

.section h2 {
    margin-bottom: 20px;
}

.bg-light {
    background: #f4f4f4;
}

/* Skills */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    background: #096ada;
    color: #fff;
    padding: 15px 25px;
    margin: 10px;
    border-radius: 20px;
}

/* Projects */
.projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-card {
    background: #fff;
    width: 250px;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Contact */
.contact-form {
    max-width: 400px;
    margin: auto;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background: #00adb5;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Footer */
footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 15px;
}

/* Responsive */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
    }

    .hero h2 {
        font-size: 24px;
    }
}



